img {
    object-fit: cover;
    height: 60vh;
}

.font {
    font-family: "Bodoni Moda", serif;
    color: white;
}

.font1 {
    font-family: "Fredericka the Great", serif;
}

.font2 {
    font-family: "Cormorant", serif;
    font-weight: 500;
}

.about {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
}

.font:hover {
    color: #712feb;
    transform: scale(1.1);
}

.bg-color {
    background-color: rgb(18, 18, 18);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(20%);
}
